.navbar-stprojet {
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  height: 55px;
  width: 100vw;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  padding: 0px 5px;
  z-index: 1;
  align-items: center;
  text-decoration: none;
}

.navbar-brand h5 {
  text-decoration: none;
  color: #FF3860;
  letter-spacing: 3px;
  font-size: 18px;
  padding: 4px;
  margin: 0px;
}

.navbar-stprojet-horizontal{
  display: flex;
  align-items: center;
}

.navbar-items-stprojet {
  color: #616668;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: 4px solid transparent;
}

.navbar-items-stprojet.active {
  border-bottom: 2px solid #555555;
}

.navbar-items-stprojet > i {
  font-size: 13px;
  border: none;
}

.navbar-stprojet-horizontal a {
  padding: 0px 12px;
}

.navbar-stprojet-vertical{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px 20px;
  font-size: 20px;
  color: #484848;
  cursor: pointer;
}

.dropdown{
  position: relative !important;
}

.dropdown-menu.show{
  position: absolute;
  top: 53px;
  left: auto;
  z-index: 1000;
  float: left;
  margin: 0px;
  border: none;
  padding: 10px 15px;
  min-width: 130px;
}

.dropdown-menu-vertical{
  left: auto;
  right: 0;
}

.navbar-stprojet-dropdown-menu{
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
}

.navbar .auth-info{
  color: #FF3860;
}

#navbar-dropwdonw-icon{
  font-size: 25px;
  color: #FF3860;
  margin-right: 15px;
  padding: 4px;
  border: 0px solid;
}

.navbar ul {
  margin: 0;
}